{% extends 'user.html' %}
{% block body %}
{%
    if error :
%}
    {{error}}

<div >

{% endif %}
<form action="/information/personal/changepassword/{{results[0]['mail']}}" method="POST" >
    <p> Old Pass</p>
    <input type="password" name="old_pass" >
    <p> New Password</p>
    <input type="password" name="new_pass" >
    <p> Comfirm New Password</p>
    <input type="password" name="confirm_new_pass" >
    <input type="submit" value="Hoàn tất">

</form>

</div>
{% endblock %}