
<html>
    <head>
         <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app.css', v=0.01)}}">
         <script src="/static/hello.js"></script>
    </head>
    <body class="login">
       <div class="introduce">
          <div>
             <p> Wellcome !</p>
          </div>
          <div>
             <p>Repo:</p>
             <p>github.com.thuongnguyenta.flask</p>
          </div>
       </div>
      <div class="login_form">
         
        <form class="form" action="/login" method="POST">
         <div>
        <label class="login_form_element form">Email:</label>
         </div>
         <div >
        <input class="login_form_element form" name="tk" type="text" value={{request.form.email}}  >
         </div>
        <div><label class="login_form_element form">Password:</label></div>
        <div><input  class="login_form_element form" name="mk" type="password"  value={{request.form.password}} ></div>
        <div><input class="login_form_element form signin" type="submit" value="Login"/></div>
        <div>{% if error :%}
            {{error}}
         {% endif %}
         </div>
        </form>
      </div>
    </body>
</html>