<html>
    <head>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='app.css') }}">
            <script src="/static/hello.js"></script>
    </head>
    <body>
        <div class="abc">
            {% if session %}
            <p>{{session['id']}}</p>
            <a href="/logout">Logout</a>
            {% else %}
            <a href="/index">Login</a>
            {% endif %}
        </div>
        {% block body %}{% endblock %}
    </body>
</html>